## misc
loaddefs.el*
auto-save-list
custom.el
places
.svn
.DS_Store
tramp

## directories
backups/*
thumbs/*
oddmuse/*
eshell/*
image-dired/*
elim/*
doc/*
elpa/*
src/*

## exported files
starter-kit*el
*elc
starter-kit*html
starter-kit*tex
starter-kit*pdf
starter-kit*txt

## org stuff
.org-id-locations

## ignore mail/gnus cruft for those who keep mail in this directory
drafts
Mail
mail
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
*.SCORE
